<header class="content-header">
  <div class="content-header-title">
    <h1>Listing Reimbursements</h1>
  </div>

  <div class="content-header-toolbars">
    <div class="btn-toolbar primary-toolbar" role="toolbar">
      <a class="btn-new-resource btn btn-light has-icon" data-turbo-frame="_top" href="/admin/reimbursements/new"><i class="fa fa-plus"></i></a>
    </div>

    <div class="btn-toolbar secondary-toolbar" role="toolbar">
    </div>
  </div>

  <div class="content-header-breadcrumbs">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a data-turbo-frame="_top" href="/admin">Home</a>
      </li>
      <li class="breadcrumb-item active">
        <a data-turbo-frame="_top" href="/admin/reimbursements">Reimbursements</a>
      </li>
    </ol>
  </div>
</header>
<div class="main-content-area" data-scroll-target="">
  <div class="main-content">
    <div class="status">
      <div class="submitted">
        Total submitted: <%= Reimbursement.all.sum(:amount) %>
      </div>
      <div class="approved">
        Total approved: <%= Reimbursement.where(status: 1).sum(:amount) %>
      </div>
    </div>
    <div class="table-container">
      <table class="trestle-table">
        <thead>
          <tr>
            <th class="">Type</th>
            <th class="">Amount</th>
            <th class="">Status</th>
            <th class="">Date of approval</th>
            <th class="">Date of submission</th>
          </tr>
        </thead>

        <tbody>
        <% Reimbursement.all.order(created_at: :desc).each do |x| %>
          <tr>
            <td class=""> <%= x["reimbursement_type"] %> </td>
            <td class=""><%= x["amount"] %></td>
            <td class="">
              <%= case x["status"]
                  when nil
                    "Pending"
                  when "1"
                    "Approved"
                  when "0"
                    "Revoked"
                  else
                    "Pending"
                  end
              %>
            </td>
            <td class="">
              <%= x["approval_time"] && x["approval_time"].in_time_zone('Asia/Kolkata').strftime("%d %b %Y %H %M") rescue "-"%>
            </td>
            <td class="">
                <%= x["created_at"].in_time_zone('Asia/Kolkata').strftime("%d %b %Y %H %M") %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<style>
  .status{
      display: flex;
      justify-content: space-between;
  }
</style>