<%= javascript_include_tag 'approval' %>

<header class="content-header">
  <div class="content-header-title">
    <h1>Listing All Employees Reimbursements</h1>
  </div>

  <div class="content-header-toolbars">

    <div class="btn-toolbar secondary-toolbar" role="toolbar">
    </div>
  </div>

  <div class="content-header-breadcrumbs">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a data-turbo-frame="_top" href="/admin">Home</a>
      </li>
      <li class="breadcrumb-item active">
        <a data-turbo-frame="_top" href="/admin/reimbursements">admin</a>
      </li>
    </ol>
  </div>
</header>
<div class="main-content-area" data-scroll-target="">
  <div class="main-content">
    <div class="status">
      <div class="submitted">
        Total submitted: <%= Reimbursement.all.sum(:amount) %>
      </div>
      <div class="approved">
        Total approved: <%= Reimbursement.where(status: 1).sum(:amount) %>
      </div>
    </div>
    <div class="table-container">
      <table class="trestle-table">
        <thead>
        <tr>
          <th>Type</th>
          <th>Amount</th>
          <th>Date of submission</th>
          <th>Submitted by</th>
          <th>Department</th>
          <th>Status</th>
          <th>Act on reimbursement</th>
        </tr>
        </thead>

        <tbody>
        <% Reimbursement.order(created_at: :desc).each do |x| %>
          <tr>
            <td class=""> <%= x["reimbursement_type"] %> </td>
            <td class=""><%= x["amount"] %></td>
            <td class="">
              <%= x["created_at"].strftime("%d %b %Y") %>
            </td>
            <td class=""> <%= x["employee_name"] %> </td>
            <td class=""> <%= Employee.where(employee_name: x["employee_name"]).first.department rescue "-" %> </td>
            <td class="">
              <%= case x["status"]
                  when nil
                    "Pending"
                  when "1"
                    "Approved"
                  when "0"
                    "Revoked"
                  else
                    "Pending"
                  end
              %>
            </td>
            <% if x["status"]&.to_i == 1 %>
              <td> Approved</td>
            <% elsif x["status"]&.to_i == 0 %>
              <td> Revoked</td>
            <% else %>
              <td>
                <button button_id="<%= x['id'] %>" class="btn btn-success act act_<%= x['id'] %>">Approve</button>
                <button button_id="<%= x['id'] %>" class="btn btn-danger revoke revoke_<%= x['id'] %>">Revoke</button>
              </td>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<style>
    .status {
        display: flex;
        justify-content: space-between;
    }
</style>